@import 'nib/vendor'
vendor-prefixes = webkit moz o ms official

//=========================
//=========================

a
	color #ed1955

body
	font-family 'Noto Sans', sans-serif
	min-width 1000px

footer
	background #000
	color #fff
	height 2rem
	margin-top 10px
	text-align center

label.error
	display block !important
	width 100%
	
.arcoden
	display block
	height auto
	list-style none
	margin 0
	padding 0
	width 100%
	
.acordeon__item
	display block
	height auto
	margin 0
	padding 0
	width 100%
	
.acordeon__item__click
	box-sizing border-box
	color #000
	height auto
	padding 10px 5px
	width 100%
	
.acordeon__item__click__icon
	float right
	margin 0 10px 0 0
	
.acordeon__item__info
	display none
    	
.blue
	background blue

.red
	background red

.banner
	background-image url(/static/img/baner.jpg)
	background-repeat no-repeat
	
.btn-primary
	background-color #ED1955
	border-color #F90071

.btn-primary:hover, .btn-primary:active, .btn-primary:focus
	background-color #494949
	border-color #2D2D2D

.button_detalle
	border-radius 0
	width 100%

.button_seguimiento
	width 180px

.button-social
	border-radius 0 10px 0 10px 
	font-weight normal !important
	margin 0 5px 0 0
	padding 8px 10px !important
	width 100%
	
.button-social i
	text-align center
	width 20px

.categoria
	color #fff
	cursor pointer
	display inline-block
	height auto
	padding 1em
	text-decoration none
	transition all 0.3s linear
	width auto

.categoria_full
	color #fff
	cursor pointer
	display inline-block
	height auto
	padding 1em
	text-decoration none
	transition all 0.3s linear
	width 100%
	
.categoria:hover, .categoria_full:hover
	background-color #ed1955 !important
	color #fff
	text-decoration none

.categoria_list
	color #3c3c43
	cursor pointer
	display inline-block
	height auto
	padding 0.5em
	text-decoration none
	transition all 0.3s linear
	width auto
	
.categoria_list:hover
	color #ed1955 !important

.cont-solicitudes
	display block
	height auto
	margin-top 1em
	width 100%

.cont-backgroud
	background-color #f1f1f2
	
.cont-botones
	display block
	height 100%
	width 100%

.colorWhite
	color #fff
	
.destacadas_detalle
	background #ececec
	border-radius 3px
	height 225px
	padding 20px
	border 1px solid #e0e0e0
	text-align center

.disabled-social
	background #e8e8e8 !important
	color #686868 !important
	cursor default !important
	
.errorInput
	background red
	border-color #f01d75 !important
	box-shadow 0 1px 7px rgba(233,102,187,0.6) inset !important
  
.form-control:focus
	border-color #F01D75 !important
	box-shadow 0 1px 7px rgba(233, 102, 187, 0.6) inset 

.float-right
	float right
	
.header
	background #f7f7f7
	border-bottom 1px solid #d7d7d7

.height-100
	height 100%
	
.heightCell
	height 34px

.list_title
	display inline-block
	height auto
	padding 0.5rem
	width auto

.list_table
	height auto
	width 100%
		
.list_table th
	background #504f58
	color #fff
	font-weight normal
	margin-right 5px
	width 90px

.list_table td
	background #f1f1f2
	padding-right 10px
	
.login
	display inline-block
	height 40px
	margin 1px
	width auto

.login .table
	height 100%
	
.login-facebook
	background #3b5998
	color #fff
	cursor pointer
	padding 0 10px
	text-align left
	transition all 0.3s linear
	
.login-facebook:hover
	background #203154
	
.login-twitter
	background #4099FF
	color #fff
	cursor pointer
	padding 0 10px
	text-align left
	transition all 0.3s linear
	
.login-twitter:hover
	background #0061d1
	
.login-email
	background #ff47ad
	color #fff
	cursor pointer
	padding 0 10px
	text-align left
	transition all 0.3s linear	

.login-email:hover
	background #cc0071
	
.login-input:checked + .login-facebook
	background #ed1955

.login-input:checked + .login-twitter
	background #ed1955
	
.login-input:checked + .login-email
	background #ed1955

.margin-top
	margin 5px 0 0 0
	
.seguimiento-contactos:checked + label
	background #ed1955
	color #fff

.login-input
	display inline-block
	height 20px
	left 0
	position absolute
	top 200%
	visibility hidden
	width 20px
	
.main-menu
	display inline-block
	height 100%
	list-style none
	margin 0
	padding 0
	width auto
	margin-top 6px
	
.main-menu li
	display table
	float left
	height 100%
	padding 0 5px
	width 16.66%
	
.main-menu li:hover
	background rgb(236, 236, 236)
	
.main-menu li a
	display table-cell
	height 100%
	text-align center
	vertical-align middle
	width 100%
	text-decoration none

.mensage-inicio
	background #ED1955
	box-sizing border-box
	color #fff
	min-height 338px
	padding 5px
	text-align center

.menu-h
	box-sizing border-box
	height 90px
	margin 0 !important
	
.nav-main
	display inline-block
	height 100%
	text-align right
	width 100%
	
.nav-main a
	color #000
	
.oculto-input
	visibility hidden !important
	
.pregunta-h
	min-height 70px
	
.p-form
	margin 0 0 5px 0

.sinpadding [class*="col-"]
	padding 0

.select-dato
	box-sizing border-box
	display table !important
	cursor pointer
	height 55px
	padding 5px
	user-select none
	width 100%
	
.select-dato span
	font-weight normal
	display table-cell
	height 100%
	text-align center
	vertical-align middle
	width 100%

.select-dato-redes
	background #dbdbdb
	color #000

.select-dato-email
	background #dbdbdb
	color #000
	
.seguir-pregunta
	background #ffc6e0
	box-sizing border-box
	padding 10px
	
.sociales
	box-sizing border-box
	margin 0
	padding 8px 0 0 0
	
.social
	background #f90071
	border-radius 50%
	cursor pointer
	display inline-block
	height 28px
	margin-bottom 5px
	text-align center
	width 28px
	
.social:hover
	background #c6005a
	
.social i
	color #fff
	margin-top 7px
	font-size 1.7rem
	
.solicitud
	border 1px solid #ccc
	border-radius 0.5rem
	box-sizing border-box
	display table
	height auto
	margin-bottom 5px
	width 100%

.solicitud .col-height
	display table-cell
	float none !important
	vertical-align middle

.solicitud-pregunta
	padding 10px

.solicitud-table
	margin 0
	
.table
	display table

.table-cell
	display table-cell !important
	vertical-align middle

.top
	background #000
	min-height 10px
	height auto
	
.top-10
	margin-top 10px

.user_menu
	display inline-block
	height auto
	padding 5px 0
	position relative
	width auto
	
.user_menu:hover > .user_menu__ul
	display block 
	
.user_menu__ul
	background #000
	display none
	list-style none
	min-width 150px
	position absolute
	right 0
	top 100%
	z-index 1
	width auto

.user_menu__ul__item
	padding 5px