{% extends "frontend/template.html" %}

{%block section%}
	<div class="container">
		<div class="row">
			<div class="col-xs-9">
			<h3><strong>TU DERECHO A SABER</strong></h3>

				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

					<div class="panel panel-default">
					  <div class="panel-heading" role="tab" id="headingOne">
					    <h4 class="panel-title">
					      <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
					        MARCO NORMATIVO
					      </a>
					    </h4>
					  </div>
					  <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
					    <div class="panel-body">
					      <p class="text-justify">La Constitución de la República del Ecuador, en su artículo 18, consagra el derecho de todas las personas, en forma individual o colectiva, a:</p>
					      <br><br>
					      <p class="text-justify"> <em>“1. Buscar, recibir, intercambiar, producir y difundir información veraz, verificada, oportuna, contextualizada, plural, sin censura previa acerca de los hechos, acontecimientos y procesos de interés general, y con responsabilidad ulterior. <br>
					      2. Acceder libremente a la información generada en entidades públicas, o en las privadas que manejen fondos del Estado o realicen funciones públicas. No existirá reserva de información excepto en los casos expresamente establecidos en la ley. En caso de violación a los derechos humanos, ninguna entidad pública negará la información.”</em></p>
					      <br><br>
					      <p class="text-justify">Por su parte, la Convención Americana sobre Derechos Humanos, conocida también como Pacto de San José, consagra en su artículo 13 sobre libertad de pensamiento y expresión que: <em>“Toda persona tiene derecho a la libertad de pensamiento y de expresión.  Este derecho comprende la libertad de buscar, recibir y difundir informaciones e ideas de toda índole, sin consideración de fronteras, ya sea oralmente, por escrito o en forma impresa o artística, o por cualquier otro procedimiento de su elección.”</em></p>
					      <br><br>
					      <p class="text-justify">El artículo 19 de la Declaración Universal de Derechos Humanos señala que <em>“todo individuo tiene derecho a la libertad de opinión y de expresión; este derecho incluye el de no ser molestado a causa de sus opiniones, el de investigar y recibir informaciones y opiniones, y el de difundirlas, sin limitación de fronteras, por cualquier medio de expresión.”</em></p>

					    </div>
					  </div>
					</div>

					<div class="panel panel-default">
					  <div class="panel-heading" role="tab" id="headingTwo">
					    <h4 class="panel-title">
					      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
					        ESTÁNDARES INTERNACIONALES
					      </a>
					    </h4>
					  </div>
					  <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
					    <div class="panel-body">
					     <p>La Comisión Interamericana de Derechos Humanos en su 108 período ordinario de sesiones, aprobó la denominada Declaración de Principios Sobre la Libertad de Expresión. En este instrumento internacional, en los principios 2, 3 y 4, se establece que:</p>

					      <p class="text-justify"><em>“2.  Toda persona tiene el derecho a buscar, recibir y difundir información y opiniones libremente en los términos que estipula el artículo 13 de la Convención Americana sobre Derechos Humanos. Todas las personas deben contar con igualdad de oportunidades para recibir, buscar e impartir información por cualquier medio de comunicación sin discriminación, por ningún motivo, inclusive los de raza, color, religión, sexo, idioma, opiniones políticas o de cualquier otra índole, origen nacional o social, posición económica, nacimiento o cualquier otra condición social.</em></p>
					      <br>
					      <p class="text-justify"><em>3.  Toda persona tiene el derecho a acceder a la información sobre sí misma o sus bienes en forma expedita y no onerosa, ya esté contenida en bases de datos, registros públicos o privados y, en el caso de que fuere necesario, actualizarla, rectificarla y/o enmendarla.</em></p> 
					      <br>
					      <p class="text-justify"><em>4.  El acceso a la información en poder del Estado es un derecho fundamental de los individuos. Los Estados están obligados a garantizar el ejercicio de este derecho. Este principio sólo admite limitaciones excepcionales que deben estar establecidas previamente por la ley para el caso que exista un peligro real e inminente que amenace la seguridad nacional en sociedades democráticas.”</em></p>

					    </div>
					  </div>
					</div>

					<div class="panel panel-default">
					  <div class="panel-heading" role="tab" id="headingThree">
					    <h4 class="panel-title">
					      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
					        JURISPRUDENCIA INTERAMERICANA 
					      </a>
					    </h4>
					  </div>
					  <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
					    <div class="panel-body">
					      <p class="text-justify">En cuanto a jurisprudencia del Sistema Interamericano de Derechos Humanos, se han establecido estándares en las sentencias de los casos:</p>
					      <br><br>
					      <p class="text-justify">• <a href="http://www.oas.org/es/cidh/expresion/docs/litigios/6.%20seriec_151_esp%20(Claude%20Reyes).doc">Claude Reyes y otros vs. Chile </a> – Sentencia de 19 de septiembre de 2006. <br>
					      Este caso se refiere a la negativa del Estado de brindar a Marcelo Claude Reyes, Sebastián Cox Urrejola y Arturo Longton Guerrero, cierta información que requirieron al Comité de Inversiones Extranjeras, relacionada con la empresa forestal Trillium y el proyecto Río Cóndor. A través de esta sentencia, la Corte Interamericana reconoció que el derecho de acceso a la información es un derecho humano protegido por el artículo 13 de la Convención Americana.</p>
					      <br><br>
					      <p class="text-justify">• <a href="http://www.oas.org/es/cidh/expresion/docs/litigios/13.%20seriec_219_esp%20(Gomes%20Lund).doc">Gomes Lund y otros vs. Brasil</a> – Sentencia de 24 de noviembre de 2010. <br>
					      El caso se refieres a la detención arbitraria, tortura y desaparición forzada de 70 personas como resultados de operaciones del Ejército brasileño entre 1972 y 1975 que tenían por objeto erradicar la denominada Guerrilla de Araguaia, en el contexto de la dictadura militar de Brasil. Asimismo, el caso presenta la afectación del derecho de acceso a la información que han sufrido los familiares de las víctimas. A este respecto, la Corte Interamericana reiteró su jurisprudencia sobre el derecho a la libertad de pensamiento y expresión, en la que ha sostenido que el artículo 13 de la Convención Americana protege el derecho que tiene toda persona de solicitar información que se encuentre bajo el control del Estado, con las salvedades permitidas bajo el régimen de excepciones de la Convención.</p>

					    </div>
					  </div>
					</div>

					<div class="panel panel-default">
					  <div class="panel-heading" role="tab" id="headingFour">
					    <h4 class="panel-title">
					      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
					        DOCUMENTOS Y PUBLICACIONES
					      </a>
					    </h4>
					  </div>
					  <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
					    <div class="panel-body">
					      <p class="text-justify">• <a href="http://www.oas.org/es/cidh/expresion/docs/publicaciones/2013%2005%2020%20JURISPRUDENCIA%20DOMESTICA%20SOBRE%20LIBERTAD%20DE%20EXPRESION%20Y%20AI.pdf">JURISPRUDENCIA NACIONAL SOBRE LIBERTAD DE EXPRESIÓN Y ACCESO A LA INFORMACION.</a> Relatoría Especial para la Libertad de Expresión, Comisión Interamericana de Derechos Humanos, 2013.</p>
					      <br><br>
					      <p class="text-justify"><a href="http://www.oas.org/es/cidh/expresion/docs/publicaciones/ACCESO%20A%20LA%20INFORMACION%202012%202da%20edicion.pdf">•    EL DERECHO DE ACCESO A LA INFORMACIÓN EN EL MARCO JURÍDICO INTERAMERICANO.</a> Relatoría Especial para la Libertad de Expresión, Comisión Interamericana de Derechos Humanos, 2012. </p>
					      <br><br>
					      <p class="text-justify"><a href="http://www.oas.org/es/cidh/expresion/docs/publicaciones/El%20acceso%20a%20la%20informacion%20en%20las%20Americas%202012%2005%2015.pdf">• EL DERECHO DE ACCESO A LA INFORMACIÓN PÚBLICA EN LAS AMÉRICAS</a>, Estándares Interamericanos y comparación de marcos legales. Relatoría Especial para la Libertad de Expresión, Comisión Interamericana de Derechos Humanos, 2012. </p>
					      <br><br>
					      <p class="text-justify"><a href="http://www.oas.org/es/cidh/expresion/docs/otros/3.%20ley%20Modelo%20de%20Acceso%20a%20la%20Informacion%20AG-RES_2607-2010.pdf">• LEY MODELO INTERAMERICANA SOBRE ACCESO A LA INFORMACIÓN PÚBLICA.</a> Organización de Estados Americanos, 2010. </p>
					      <br><br>
					      <p class="text-justify"><a href="http://www.oas.org/es/cidh/expresion/docs/otros/4.%20guia%20de%20implementacion%20CP-CAJP-2841-10_esp.pdf">• COMENTARIOS Y GUÍA DE IMPLEMENTACIÓN PARA LA LEY MODELO INTERAMERICANA SOBRE ACCESO A LA INFORMACIÓN.</a> Documento presentado por el Grupo de Expertos sobre Acceso a la Información de conformidad con la resolución AG/RES. 2514 (XXXIX-O/09) de la Asamblea General, 2010.</p>
					    </div>
					  </div>
					</div>					

				</div>

			</div>

			<div class="col-xs-3">
				{% include "frontend/derecha/index.html" %}
			</div>
		</div>
	</div>
{% endblock %}